@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-image: url(https://i.ibb.co/mDfsK8H/travel.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
}

h1 {
    font-family: 'Cinzel';
    font-size: 44px;
    text-align: center;
}

span {
    color: #DB2777;
    text-align: center;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: 'Cinzel';
    font-weight: 700;
    text-align: center;
}

a:hover {
    color: #fff;
    opacity: 50%;
}

button {
    background-color: #DB2777;
    color: #fff;
    border: none;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-family: 'Cinzel';
    text-align: center;
}

button:hover {
    background: #000;
    opacity: 30%;
}